#header-content-ul{
   flex-direction: column; 
   align-content: start;
text-align: start;
   width: 50%;
}

#content-img{
    width: 50%;
   
    
}

#header-content-div{
   margin-top: 100px;
display: flex;
align-content: start;
}

#content-button{
   background-color: white;
   padding: 10px;
   width: 150px;
   border-style: none;
   border-radius: 20px;
}