
header{
  padding-left: 80px;
  padding-right: 80px;
    background-image: url('../../assets/images/header-bg.png');
    background-size: cover;
    padding-bottom: 50px;
  position: relative;
  margin-top: 0%;
  color: white;
}

